body{
    background-color: black;
    color: white;
    overflow-x: hidden;
}
a{
    display: block;
    background-color: transparent;
    color: white;
    border-right: 1px solid;
    border-left: 1px solid;
    text-align: center;
    width: 309px;
    cursor: pointer;
    text-decoration: none;
}
div{
    position: relative;
    bottom: -228px;
    margin-left: 592px;
}
img{
    display: block;
    margin: auto;
}
