body{
    background-color: black;
    color: white;
    overflow-x: hidden;
}
button{
    display: block;
    background-color: transparent;
    color: white;
    border-top: none;
    border-bottom: none;
    width: 309px;
    cursor: pointer;
}
div{
    position: relative;
    bottom: -228px;
    margin-left: 592px;
}
img{
    display: block;
    margin: auto;
}
